@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200;1,500&display=swap");
body {
  direction: ltr;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

h1,
h2 {
  text-transform: capitalize;
}

:root {
  --primary: #299b4d;
}
